
/* Font famillies */
.font-audiowide{
    font-family: 'Audiowide', cursive;
}

/* jumbotron background image*/
.jumbotron {
    background-image: url(../images/Profile.JPG);
    background-size: cover;
    background-position-y: 65%;
    background-position-x: center;
    z-index: 4;
}

/* shaded block on jumbotron for links and text */
.jumbotron-shade{
    background-color: rgba(0,0,0,0.6);
    Height:100%;
    padding: 1rem;
}

/* custom options for nav bar buttons below */

.button-padding{
    padding:0.1rem;
    margin: 0rem 1rem ;
    width:100px;
    height: 100%;
}


.nav-button{
    color: #FFF;
    transition:all 200ms ease-in-out;
    }

.active-link{
    color:#FFC107;
    transition:all 200ms ease-in-out;
}

.active-link:hover{
    color:#FFC107;
}

.nav-button:hover{
    background-color: #FFC107;
    color: #000000;
    border-radius:5px;
}

/* Big logo spinner, setting transition */
.badge-button{
    transition:all 400ms ease-in-out;
}
/* Big logo spinner, spinner effect */
.badge-button:hover{
    transform:rotateX(360deg)
}

/* a coloured div used for line breaks */
.title-perch{
    width:100%;
    height:2px;
    background-color: slategrey;
    
}
